
p{
color:white;
background-color:orange;
margin:20px;border:3px solid black;
font-size:18px;
}
.sample{
background-color:purple;
}
.sample1{
background-color:yellow;
font-size:20px;
}
#sample2{
background-color:green;
padding:10px;
}
.sample_new{
	font-weight:bold;
}


